.answers{
    /* background-color: #d9d9db; */
    border: #d9d9db .05em solid;
    border-radius: .25em;
    margin: 0 auto 0 auto;
    width: 50em;
    padding: 1em;
}
.answers p {
    margin-right: 2em;
}
.answers span{
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #d9d9db;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background-color: #655f61;
    padding: .25em;
    border-radius: .25em;
}