.container{
    flex-direction: row;
}
.container > div{
    max-width: 15em;
    max-height: 9em;
    flex: 1 15em;
    border: .05em none solid;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0.3em .7em gray;
    background-image: url('../drawable/download.svg');
    background-repeat: no-repeat;
}
.container > div > a:nth-child(3){
    display: block;
    width: 100%;
    height: 100%;
}
.container > div > h4 {
    display: block;
}