@font-face {
    font-family: 'Main';
    src: url('../fonts/Behdad-Regular.ttf');
}
* {
    font-family: 'Main';
}

label{
    display:block;
}
table a, button, input, textarea, select {
    width: auto;
    padding: .2em;
    direction: rtl;
    font-size: 1.1em;
    border:none;
    border-radius:.1em;
    max-width:95%;
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
input, textarea, select, button{
        display:block;
    margin-top:.5em;
    margin-bottom:.5em;
}

table a :hover, table a:focus, table a:active,
button:hover, button:focus, button:active,
input:hover, input:focus, input:active,
select:hover, select:focus, select:active{
    background: rgb(242,246,248); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */    
}

select, option {
    min-width: 20em;
}

img {
}


a:hover, a:active, a:focus {
}

input[type="submit"] {
    padding: .75em;
}

input[type="text"], input[type="password"], input[type="number"] {
    height: 2em;
}

input[type="number"] {
    margin: 0;
}
span{
    max-width:100%;
}