body{
    direction: rtl;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.toolbar{
    display: block;
    background-color: #0e8e97;
    color: white;
    padding: .25em;
}
.toolbar img{
    display: inline-block;
    max-height: 3em;
    width: 4em;
    margin-left: 2.5em;    
}
.sidebar-open, .sidebar-close{
    font-size: x-large;
    margin: 1em;
    cursor: pointer;
    display: inline-block;
}
.sidebar-close{
    display: block;
}
.sidebar-open{
    margin-left: 2.5em;
    color: #0e8e97;
}
#sidebar {
    z-index: 1;
    height: 100%;
    width: 40%;
    position: fixed;
    overflow: auto;
    display:none;
    text-align: right;
    padding: 0;
    background-color: #0e8e97;
    color: white;
    animation: w3-spin 2s infinite linear;
}
#sidebar a{
    font-size: x-large;
    display: block;
    padding: .5em;
}
#sidebar a:hover{
    font-size: x-large;
    display: block;
    color: #0e8e97;
    background-color: white;
}
header{
    color: #0e8e97;
    border-bottom: #0e8e97 .1em solid;    
}
.container{
    padding: .5em;
}