.container{
    display: flex;
    flex-direction: row;
}
.container > a, .container > article {
    width: 10em;
    flex: 1 20em;
    height: 20em;
    margin: 1em;
    padding: 1em;
    border: .1em #ffdc1d solid;
    text-align: center;
}
.container > a h2, .container > a p {
    text-align: right;
    display: block;
}
.container > a img {
    max-width: 100%;
    max-height: 10em;
}