form {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
input[type=text], 
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
input[type=submit],
input[type=password],
button, 
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #8ad2ce;
    padding: 7px;
    margin:.5em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
input[type=text]:focus, 
input[type=date]:focus,
input[type=datetime]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=submit]:focus,
input[type=password]:focus,
button:focus, 
textarea:focus, 
select:focus{
    -moz-box-shadow: 0 0 8px #5598a9;
    -webkit-box-shadow: 0 0 8px #5598a9;
    box-shadow: 0 0 8px #5598a9;
    border: 1px solid #5598a9;
}
input[type=submit], input[type=button]{
    background: #0e8e97;
    padding: 8px 15px 8px 15px;
    border: none;
    color: white;
}
input[type=submit]:hover, input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}