article{
    padding: 2em;
    display: block;
    word-wrap: break-word;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 3em;
}
article > a:nth-of-type(1), article > a:nth-of-type(2){
    padding: .125em;
    padding-right: 2em;
    text-decoration: none;
    border-style: solid;
    border-width: .05em;
    border-radius: .25em;
    text-align: center;
    width: 9em;
    background-color: white;
    color: black;
    display: block;
    margin-top: 1em;
}
article a{
    color: blue;
}
article a img{
    width: 10em;
    display:inline-block;
}
article img:nth-of-type(1) {
    width: 100%;
    max-height: 50%;
    display:block;
    margin: 0 auto 0 auto;
    color: transparent;
}
.attachment{
    background-image: url('../drawable/download.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding: .125em;
    padding-right: 2em;
    text-decoration: none;
    border-style: solid;
    border-width: .05em;
    border-radius: .25em;
    text-align: center;
    width: 9em;
    background-color: white;
    color: black;
    display: block;
}
.attachment:hover,
.attachment:focus{
    background-color: gray;
    color: white;
}
.keywords, .comments, .container > #gordform{
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 3em;
    flex: 1 25em;
    max-height: 20em;
    overflow-y: auto;
}

#gordform{
    padding: 2em;
    text-align: right;
}
#gordform textarea{
    display: block;
}
.comments {
    padding: 2em;
}
.comments > div{
    display: block;
}
.comments div img{ 
    height: 2em;
    width: 2em;
    margin-top: 1em;
    margin-left: 1em;
    background-color: #0B93F6;
    border-radius: 1000%;
}  
.comments div span{   
    padding: .5em 2em;
    margin-bottom: 1em;
	color:white;
	background:#0B93F6;
    border-radius: 2em;
}
.keywords{
    text-align: right;
    padding: 2em;
    order: 4;
}
.keywords div{
    display: inline-block;
    margin: .5em;
    padding: .25em;
}
.keywords div #gordform{
    display: none;
}